html {
    background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: 'Chakra Petch', 'Courier New', monospace;
    line-height: 1.6;
    width: 80%;
    margin: 0 auto;
    color: #ffffff;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 5rem;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px rgb(8, 105, 24), 2px 2px 1px black;
    text-align: center;
    letter-spacing: 2px;
}

img {
    width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    color: #3fa317;
}


/* Add some style to the list items */

ol li,
ul li {
    list-style-position: inside;
    margin-bottom: 8px;
}


/* Add a background color and padding to the list items */

ol,
ul {
    background-color: rgb(48, 48, 48);
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


/* Style links */

a {
    color: #0ba360;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol li a,
ul li a {
    font-size: 20px;
}

.recipeList ul li {
    display: inline-block;
    margin-right: 50px;
}

.recipeList ul {
    text-align: center;
    background-color: #161515;
    padding: 10px;
    border: 5px double white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.recipePage {
    width: 100%;
    margin: 0 auto;
}

.leftPanels {
    display: inline-block;
    margin-bottom: 50px;
    float: left;
    width: 50%;
    background-color: #161515;
    padding: 10px;
    border: 5px double white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.rightPanels {
    display: inline-block;
    float: right;
    width: 45%;
    background-color: #161515;
    padding: 10px;
    border: 5px double white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}